<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="Off"
  internalLogFile="c:/nlog/internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!--要写入的目标-->
  <targets>
    <!--通用日志文件-->
    <target name="AllFiles" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}/logs/${shortdate}-${level}.log" encoding="utf-8" layout="[${longdate}]: ${message}${onexception:${newline}${exception:format=ToString}${newline}${stacktrace}}${newline}" />
    </target>
    <!--特殊日志文件-->
    <target name="SpecialFiles" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}/logs/${date:format=yyyy-MM}/${logger:shortName=true}-${date:format=dd}-${level}.log" 
              encoding="utf-8" 
              layout="[${longdate}]: ${message}${onexception:${newline}${exception:format=ToString}${newline}${stacktrace}}${newline}" />
    </target>
    <!--写入Null，也就是移除-->
    <target name="Blackhole" xsi:type="Null" />
  </targets>
  <!--从记录器名称映射到目标的规则-->
  <rules>
    <!--跳过Microsoft日志，因此只记录自己的日志-->
    <logger name="Microsoft.*" minlevel="Debug" writeTo="Blackhole" final="true"/>
    <!--<logger name="FF.Controllers.*" minlevel="Trace" writeTo="SpecialFiles" final="true" />-->
    <logger name="*" minlevel="Trace" writeTo="AllFiles" />
  </rules>
</nlog>